<% if notice %>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= notice %>
	</div>
<% end %>
<legend><h3><%= @host.cn %></h3></legend>
<h4><p class="muted"><%= @host.description %></h4></p>
<br>
<table class="table table-striped">
	<tbody>
	<tr>
  		<td class ="muted span3">ipHostNumber:</td>
  		<td><%= @host.ipHostNumber %></td>
  	</tr>
    <% @host.services.each do |name, value| %>
        <tr>
            <td class ="muted"><%= name.to_s %>:</td>
            <td>
                <% if value == 0 %>
                    <button class="btn btn-mini btn-success disabled" type="button">Alive</button>
                <% else %>
                    <button class="btn btn-mini btn-danger disabled" type="button">Dead</button>
                 <% end %>
            </td>
        </tr>
    <% end %>

  </tbody>
</table>
<p class="text-right">
	<%= link_to 'Edit', edit_host_path(@host) %> |
	<%= link_to 'Back', hosts_path %>
</p>